apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "scalarflow-data-populator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scalarflow-data-populator.labels" . | nindent 4 }}
  annotations:
    # Helm hooks for one-time job execution
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  {{- if .Values.dataPopulator.ttlSecondsAfterFinished }}
  ttlSecondsAfterFinished: {{ .Values.dataPopulator.ttlSecondsAfterFinished }}
  {{- end }}
  template:
    metadata:
      annotations:
        {{- if .Values.podAnnotations }}
        {{- toYaml .Values.podAnnotations | nindent 8 }}
        {{- end }}
      labels:
        {{- include "scalarflow-data-populator.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dataPopulator.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Never
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.dataPopulator.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.dataPopulator.image.repository }}:{{ .Values.dataPopulator.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.dataPopulator.image.pullPolicy }}
          {{- with .Values.dataPopulator.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.dataPopulator.args }}
          args:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.dataPopulator.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
