{{- if .Values.schemaLoader.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "scalarflow-schema-loader.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scalarflow-schema-loader.labels" . | nindent 4 }}
  annotations:
    # Helm hooks for one-time job execution
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  {{- if .Values.schemaLoader.ttlSecondsAfterFinished }}
  ttlSecondsAfterFinished: {{ .Values.schemaLoader.ttlSecondsAfterFinished }}
  {{- end }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "scalarflow-schema-loader.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.schemaLoader.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Never
      containers:
        - name: {{ include "scalarflow.baseName" . }}-schema-loader
          {{- with .Values.schemaLoader.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.schemaLoader.image.repository }}:{{ .Values.schemaLoader.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.schemaLoader.image.pullPolicy }}
          {{- with .Values.schemaLoader.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.schemaLoader.args }}
          args:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
